<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron my-4 my-lg-5">
    <h3><e>Welcome to E-commerce</e></h3>
  </div>

  <div class="row justify-content-center">
    <% categories.forEach(category => { %>
    <!-- <a class="col-lg-3 col-md-6" href="/products/category/<%= category.replaceAll(" ","-") %>"> -->
    <a class="col-lg-3 col-md-6" href="/products/category/<%= category.replace(/ /g,'-') %>">
      <div class="category-container text-center mb-3">
        <span><%= category %> </span>
      </div>
    </a>
    <% }) %>
  </div>
</div>

<%- include("../partials/footer") %>
